/* Reset CSS pour une base cohérente sur tous les navigateurs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Police de caractères globale */
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f4f4;
  background-image: url("../img/sciences-lumiere-1920x1080.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;
}

/* En-tête */
header {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgba(0, 21, 41, 0.85);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #a8ebff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffdd57;
}

/* Conteneur principal */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Styles de base pour les tableaux */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #555;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Formulaires stylisés */
form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #547cb1;
  border-radius: 8px;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
button {
  width: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

input[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}

/*Style pour le message d'acceuil sur la page*/

.forum-message {
  font-size: 3em;
  color: white;
  text-align: center;
}

/*Style pour le message d'entré sur le forum*/

.welcome-message {
  font-size: 3em;
  color: white;
  text-align: center;
}

/* Pied de page */
footer {
  background-color: rgba(0, 21, 41, 0.85);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

footer p {
  margin: 0;
}
